/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.wrapper_error { background: url(http://lorempixel.com/1920/1920/business) no-repeat 0 0; background-size: cover; }
.wrapper_error .header { background: white; }

.logo { position: relative; margin-top: -45px; height: 100px; width: 100px; z-index: 30; display: inline-block; background: url('../img/icons-s536f0e9136.png') 0 -489px no-repeat; width: 213px; height: 104px; }

.logo_mod { margin-top: 0; }

.header__block { font-style: italic; font-size: 14px; line-height: 1.2; color: #999999; display: inline-block; }

.header__facebook { margin-left: 160px; text-align: center; cursor: pointer; color: #666666; text-decoration: none; }
.header__facebook span { position: relative; padding-left: 25px; }
.header__facebook span:before { position: absolute; content: ""; top: 0; left: 0; background: url('../img/icons-s536f0e9136.png') 0 -603px no-repeat; width: 16px; height: 16px; }
.header__facebook:hover { text-decoration: underline; }

.footer h5 { font-weight: bold; }
.footer .footer__logo { display: inline-block; background: url('../img/icons-s536f0e9136.png') 0 -291px no-repeat; width: 127px; height: 52px; }
.footer .footer__apart { font-style: italic; }
.footer .collapse { padding-right: 0; }
.footer .nav .nav__item { padding: 0 0 0 18px; }
.footer .nav .nav__item:first-child { padding-left: 0; }
.footer .nav a { padding: 0; font-size: 15px; color: white; }
.footer .nav a:hover { background: none; text-decoration: underline; }
.footer .list-unstyled li:hover a { color: black; text-decoration: underline; }
.footer .list-unstyled a { color: black; }
.footer .list-unstyled a i { color: black; }
.footer .list-unstyled .fa-phone { color: #333333; }
.footer .list-unstyled_right a { text-decoration: underline; }
.footer .list-unstyled_right a:hover { text-decoration: none !important; }
.footer .btn-group_mod { float: right; }
.footer .btn-group_mod li strong { text-transform: uppercase; }
.footer .btn-group_mod.open { margin-bottom: 222px; }
.footer .btn-group_mod .dropdown-menu { min-width: 210px; overflow-y: auto; max-height: 250px; }
.footer .btn { border: none; background: none; }

.btn-u-lg_mod { padding: 5.5px 0; }
.btn-u-lg_mod span { line-height: 1; display: inline-block; }

.breadcrumbs { padding: 0; }
.breadcrumbs .breadcrumb { padding: 0; }

.da-slider { background: transparent url(http://lorempixel.com/1920/425/city) repeat 0% 0%; }

.da-dots { display: none; }

.slider { position: relative; overflow: hidden; *zoom: 1; }
.slider:after { content: " "; display: table; clear: both; }
.slider .slick-slide img { width: 100%; }
.slider .slider__for .slick-slide { padding: 0; }
.slider .slider__nav { vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slider .slider__nav .slick-track { height: 92px; }
.slider .slider__nav .slick-slide { cursor: pointer; height: 92px; line-height: 89px; }
.slider .slider__nav .slick-slide img { width: 95%; vertical-align: middle; display: inline-block; }
.slider .slider__nav .slick-prev, .slider .slider__nav .slick-next { top: 50%; margin-top: -17px; }
.slider .slider__nav .slick-prev:before, .slider .slider__nav .slick-next:before { display: none; }
.slider .slider__nav .slick-prev { left: -38px; background: url('../img/icons-s536f0e9136.png') 0 -444px no-repeat; width: 18px; height: 35px; }
.slider .slider__nav .slick-next { right: -38px; background: url('../img/icons-s536f0e9136.png') 0 -399px no-repeat; width: 18px; height: 35px; }
.slider .slider__pag { position: absolute; left: 0; bottom: 0; right: 0; padding: 0 62px; background-color: #454b59; background: rgba(69, 75, 89, 0.58); }
.slider .slick-slider { margin-bottom: 0; }

.card .card__top { *zoom: 1; }
.card .card__top:after { content: " "; display: table; clear: both; }
.card .card__top .card__left, .card .card__top .card__right { display: inline-block; vertical-align: top; }
.card .card__top .card__left a { padding-right: 10px; }
.card .card__top .card__right { padding-top: 3px; padding-left: 30px; }
.card .card__top .card__right a { text-decoration: underline; color: #585f69; }
.card .card__top .card__right a:hover { text-decoration: none; }
.card .card__right .sky-form { border: none; }
.card .card__right .sky-form fieldset { padding: 0; }

.line-height-1_3 { line-height: 1.3 !important; }

.topic { padding: 0 0 10px; font-size: 0; }
.topic .topic__quantity, .topic .btn-u { width: 50%; display: inline-block; }
.topic .topic__quantity { font-size: 18px; color: #333333; }

.data { padding-top: 5px; }
.data .data__top { *zoom: 1; }
.data .data__top:after { content: " "; display: table; clear: both; }
.data .data__top h1, .data .data__top h2, .data .data__top h3, .data .data__top h4, .data .data__top h5 { margin: 0; }
.data .data__right, .data .data__left { width: 50%; }
.data .data__left { float: left; }
.data .data__right { float: right; }
.data .data__right img { float: right; }
.data .data__text { padding: 5px 0 10px; }
.data .lead { padding-bottom: 12px; }
.data .tag-box { margin-bottom: 0; *zoom: 1; }
.data .tag-box:after { content: " "; display: table; clear: both; }
.data ul { padding-left: 16px; float: left; width: 50%; }

.hesthaus { padding: 15px 0; border: 1px solid #eeeeee; *zoom: 1; }
.hesthaus:after { content: " "; display: table; clear: both; }

.item { *zoom: 1; }
.item:after { content: " "; display: table; clear: both; }

.item__block { padding: 15px 15px 0; position: absolute; top: 0; left: 0; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.item__img { position: relative; width: 70%; height: 200px; float: left; }
.item__img img { width: 100%; }

.item__info { width: 30%; float: right; }
.item__info .description { margin: 0; }
.item__info .description__top { padding-left: 8px; margin-bottom: 0; font-size: 18px; line-height: 28px; }
.item__info .description__list.list .description__item { margin-top: 12px; width: 100%; font-size: 15px; }
.item__info .description__bottom .price { margin-left: 0; width: 100%; }
.item__info .price__item { font-size: 32px; }

.item__row { *zoom: 1; }
.item__row:after { content: " "; display: table; clear: both; }

.item__left { float: left; }

.item__right { float: right; }

.item__link { color: white; text-decoration: underline; display: inline-block; }
.item__link:hover { color: white; text-decoration: none; }

.item__link_red { padding: 0 15px; font-size: 18px; line-height: 29px; text-decoration: none; background: rgba(185, 90, 52, 0.6); }

.item__link_grey { color: #cccccc; }
.item__link_grey:hover { color: #cccccc; }

.description { margin-left: -15px; padding-bottom: 15px; border: 1px solid #eeeeee; }

.description__row { margin-bottom: 5px; }

.description__top { margin-bottom: 10px; padding-left: 15px; color: #666666; line-height: 51px; font-size: 25px; background: whitesmoke; border-bottom: 2px solid #d9d9d9; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.description__top_mod { font-size: 13px; line-height: 1.2; }
.description__top_mod h1, .description__top_mod h2, .description__top_mod h3, .description__top_mod h4, .description__top_mod h5, .description__top_mod h6 { margin-top: 0; }

.description__wrap { padding: 0 5px 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.description__name, .description__addres { padding-left: 24px; position: relative; color: #1e1e1e; font-size: 11px; text-decoration: underline; }
.description__name:hover, .description__addres:hover { color: #1e1e1e; text-decoration: none; }
.description__name .name__ico, .description__name .addres__ico, .description__addres .name__ico, .description__addres .addres__ico { position: absolute; content: ""; top: 50%; left: 0; margin-top: -6.5px; }

.description__name .name__ico { background: url('../img/icons-s536f0e9136.png') 0 -353px no-repeat; width: 14px; height: 13px; }

.description__addres .addres__ico { background: url('../img/icons-s536f0e9136.png') 0 -376px no-repeat; width: 14px; height: 13px; }

.description__list { font-size: 0; }
.description__list.list .description__item { position: relative; margin-top: 15px; padding-left: 26px; width: 50%; line-height: 1; font-size: 18px; display: inline-block; }
.description__list.list .list__ico { position: absolute; top: 0; left: 0; }
.description__list.list .list__ico_dg1 { background: url('../img/icons-s536f0e9136.png') 0 -62px no-repeat; width: 18px; height: 16px; }
.description__list.list .list__ico_oll { background: url('../img/icons-s536f0e9136.png') 0 -88px no-repeat; width: 20px; height: 14px; }
.description__list.list .list__ico_con { background: url('../img/icons-s536f0e9136.png') 0 -112px no-repeat; width: 16px; height: 15px; }
.description__list.list .list__ico_tv1 { background: url('../img/icons-s536f0e9136.png') 0 -137px no-repeat; width: 19px; height: 14px; }
.description__list.list .list__ico_dg2 { background: url('../img/icons-s536f0e9136.png') 0 -161px no-repeat; width: 17px; height: 14px; }
.description__list.list .list__ico_sa { background: url('../img/icons-s536f0e9136.png') 0 -185px no-repeat; width: 16px; height: 15px; }
.description__list.list .list__ico_con2 { background: url('../img/icons-s536f0e9136.png') 0 -210px no-repeat; width: 15px; height: 16px; }
.description__list.list .list__ico_tv2 { background: url('../img/icons-s536f0e9136.png') 0 -236px no-repeat; width: 15px; height: 15px; }
.description__list.description__list_mod .description__item_top { margin-bottom: 5px; padding-left: 0; }
.description__list.description__list_mod .description__item { margin-top: 8px; }

.description__bottom { padding-top: 15px; }
.description__bottom .btn-u { margin-top: 5px; font-size: 18px; }
.description__bottom .price { margin-left: -8px; }

.btn-u_mod { position: relative; line-height: 40px; vertical-align: top; background: #456e22; }
.btn-u_mod:hover { background: #2ecc71 !important; }
.btn-u_mod:focus { background: #2ecc71 !important; }
.btn-u_mod:active { top: -1px; }
.btn-u_mod:before { position: absolute; content: ""; top: 0; right: -18px; width: 0px; height: 0px; border-style: solid; border-width: 26px 0 26px 18px; border-color: transparent transparent transparent #2ecc71; }

.price { position: relative; width: 62%; display: inline-block; }
.price.is-active .price__block { display: block; }
.price .price__block { position: absolute; top: 144%; left: -346%; padding: 20px; width: 514%; z-index: 3; background: white; border: 1px solid #d9d9d9; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.price .price__block:before { position: absolute; content: ""; top: -29px; right: 27%; background: url('../img/icons-s536f0e9136.png') 0 -23px no-repeat; width: 33px; height: 29px; }
.price .price__block .price__close { position: absolute; top: 12px; right: 14px; background: url('../img/icons-s536f0e9136.png') 0 0 no-repeat; width: 13px; height: 13px; }
.price .price__block .price__left { float: left; width: 66.66667%; }
.price .price__block .price__right { float: right; padding-left: 20px; width: 33.33333%; }
.price .price__block .price__table { width: 50%; font-size: 15px; background: #f4f4f4; display: inline-block; }
.price .price__block .price__table td { padding: 0 10px; height: 34px; line-height: 34px; border: 1px solid white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.price .price__block .price__table td:first-child { width: 69.5%; border-left: none; }
.price .price__block .price__table td .color-red { font-family: Arial, sans-serif; font-weight: bold; }
.price .price__wrap { cursor: pointer; }
.price .price__row { font-size: 0; }

.price__item { font-size: 36px; line-height: 1; display: inline-block; }

.price__old, .price__time { font-size: 14px; }

.price__old { color: #949494; text-decoration: line-through; }

.price__time { padding-bottom: 5px; }

.step .step__item { position: relative; padding-bottom: 60px; text-align: center; white-space: nowrap; overflow: hidden; }
.step .step__item.is-active h3 { color: #585f69; }
.step .step__item.is-active .performance { background: #3d9d06; }
.step .step__item.is-active .performance .performance__pic { background: url('../img/icons-s536f0e9136.png') 0 -629px no-repeat; width: 35px; height: 35px; border: none; }
.step .step__performance.performance { position: absolute; bottom: 30px; height: 5px; width: 100%; background: #cccccc; }
.step .step__performance.step__performance_1 { left: 50%; }
.step .step__performance.step__performance_1 .performance__pic { left: -15px; }
.step .step__performance.step__performance_2 { left: 0; }
.step .step__performance.step__performance_2 .performance__pic { left: 50%; margin-left: -15px; }
.step .step__performance.step__performance_3 { right: 50%; }
.step .step__performance.step__performance_3 .performance__pic { right: -15px; }
.step .performance__pic { position: absolute; bottom: -13px; height: 30px; width: 30px; -moz-border-radius: 50% !important; -webkit-border-radius: 50%; border-radius: 50% !important; border: 5px solid #cccccc; background: white; }

.guesthouse { padding: 10px; background: whitesmoke; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.guesthouse:after { content: " "; display: table; clear: both; }

.guesthouse__item { border: 1px solid #eeeeee; background: white; }

.reviews { margin-top: 42px; padding: 10px 20px; background: whitesmoke; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.reviews img { width: 100%; }

.google-map { padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.google-map .google-map__wrap { padding: 10px 50px; }
.google-map .map { height: 830px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.google-map_mod { width: 558px; height: 598px; }
.google-map_mod .map { width: 100% !important; height: 100% !important; }

.map_835 { height: 835px; }

.border { border: 1px solid #eeeeee; }

.color-black { color: black; }

.filter-text a, .filter-text strong { font-size: 18px; }
.filter-text p { margin-bottom: 0; }

.btn-u_small { line-height: 1; font-size: 11px; }

.select_people select { color: #bbbbbb !important; }
.select_people .fa { background: white !important; }

.cont-top { padding: 15px 15px 30px; background: url("http://lorempixel.com/1200/280/city") no-repeat 0 0; background-size: cover; }
.cont-top .cont-top__text, .cont-top h1, .cont-top h2, .cont-top h3 { color: white; }
.cont-top .cont-top__text { padding-left: 5px; font-size: 22px; background: rgba(0, 0, 0, 0.6); }

.offers { padding-top: 20px; }

.offers__left { float: left; }

.offers__right { float: right; }

.day, .next, .prev { cursor: pointer; text-align: center; -moz-border-radius: 5px !important; -webkit-border-radius: 5px; border-radius: 5px !important; }
.day:hover, .next:hover, .prev:hover { -moz-box-shadow: 0 0 1px 1px #cccccc; -webkit-box-shadow: 0 0 1px 1px #cccccc; box-shadow: 0 0 1px 1px #cccccc; }

.next, .prev { padding: 2px 10px 4px !important; border: 1px solid #cccccc; display: inline-block; }

.datepicker { cursor: pointer; }
.datepicker .switch { text-align: center; }
.datepicker .datepicker-days { padding: 15px; }

.padding-left-20 { padding-left: 20px; }

.pointer { cursor: pointer; }

.is-bold { font-weight: bold; }

@media (max-width: 992px) { .step .step__performance.performance { background: none; }
  .step .step__performance.performance.is-active { background: none; }
  .footer, .nav { text-align: center; }
  .footer .nav li, .nav .nav li { float: none; display: inline-block; } }
.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
